<mat-toolbar color="primary">  <!-- Create a Material Toolbar component with the primary color theme -->
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
  </button>
  <span class="title-center">Inventory Management System</span>  <!-- Display the title 'Inventory Management System' -->
  <span class="example-spacer"></span>  <!-- Create an empty spacer to push the following button to the right side -->
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="openForm()">
    <mat-icon>add</mat-icon>  <!-- Create a Material Icon component with the 'add' icon -->
  </button>
</mat-toolbar>
